# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Pytest
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# dotenv
.env

# Logs
*.log

# SQLite database (se for usado)
*.sqlite3
*.db

# Alembic
alembic.ini
migrations/
